@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;500&family=Raleway:wght@400;500;600&display=swap");


*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 0.5208333333vw;
}
@media (max-width: 1024px) {
  html {
    font-size: 1.3020833333vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 2vw;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 320px;
  overflow-x: hidden;
  background: #F5F5F5;
  margin-bottom: 1000px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.container {
  width: 142rem;
  max-width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.btn {
  background: #5DB469;
  border-radius: 10rem;
  -webkit-transition: border-radius 1.5s ease-in-out;
  -o-transition: border-radius 1.5s ease-in-out;
  transition: border-radius 1.5s ease-in-out;
  color: #fff;
}
.btn:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-nav__category,
.hamburger {
  display: block;
  cursor: pointer;
  overflow: hidden;
  padding: 0 0.9rem 0 0;
  margin-right: 0.8rem;
  background-color: transparent;
}
.header-nav__category__container,
.hamburger__container {
  width: 1.9rem;
  height: 2.4rem;
  position: relative;
}
.header-nav__category:hover .header-nav__category__inner,
.header-nav__category:hover .hamburger__inner,
.hamburger:hover .header-nav__category__inner,
.hamburger:hover .hamburger__inner {
  -webkit-transform: translate(-3.4rem, 50%);
      -ms-transform: translate(-3.4rem, 50%);
          transform: translate(-3.4rem, 50%);
  opacity: 0;
}
.header-nav__category:hover .header-nav__category__inner::before, .header-nav__category:hover .header-nav__category__inner::after,
.header-nav__category:hover .hamburger__inner::before,
.header-nav__category:hover .hamburger__inner::after,
.hamburger:hover .header-nav__category__inner::before,
.hamburger:hover .header-nav__category__inner::after,
.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
  -webkit-transform: translate(6.8rem, 0);
      -ms-transform: translate(6.8rem, 0);
          transform: translate(6.8rem, 0);
  opacity: 0;
}
.header-nav__category.is-active .header-nav__category__inner,
.header-nav__category.is-active .hamburger__inner,
.hamburger.is-active .header-nav__category__inner,
.hamburger.is-active .hamburger__inner {
  display: none;
}
.header-nav__category__inner,
.hamburger__inner {
  width: 100%;
  height: 0.2rem;
  background-color: #372E11;
  border-radius: 0.4rem;
  position: absolute;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  top: 25%;
  -webkit-transform: translate(0.1rem, -50%);
      -ms-transform: translate(0.1rem, -50%);
          transform: translate(0.1rem, -50%);
  opacity: 1;
}
.header-nav__category__inner::before, .header-nav__category__inner::after,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 0.2rem;
  background-color: #372E11;
  border-radius: 0.4rem;
  position: absolute;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.header-nav__category__inner::before,
.hamburger__inner::before {
  top: 0.7rem;
  width: 100%;
}
.header-nav__category__inner::after,
.hamburger__inner::after {
  top: 1.4rem;
  width: 100%;
}
.header-nav__category:hover .header-nav__category__hidden,
.header-nav__category:hover .hamburger__hidden,
.hamburger:hover .header-nav__category__hidden,
.hamburger:hover .hamburger__hidden {
  opacity: 1;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.header-nav__category:hover .header-nav__category__hidden::before, .header-nav__category:hover .header-nav__category__hidden::after,
.header-nav__category:hover .hamburger__hidden::before,
.header-nav__category:hover .hamburger__hidden::after,
.hamburger:hover .header-nav__category__hidden::before,
.hamburger:hover .header-nav__category__hidden::after,
.hamburger:hover .hamburger__hidden::before,
.hamburger:hover .hamburger__hidden::after {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.header-nav__category:hover .header-nav__category__hidden::after,
.header-nav__category:hover .hamburger__hidden::after,
.hamburger:hover .header-nav__category__hidden::after,
.hamburger:hover .hamburger__hidden::after {
  width: 70%;
}
.header-nav__category.is-active .header-nav__category__hidden,
.header-nav__category.is-active .hamburger__hidden,
.hamburger.is-active .header-nav__category__hidden,
.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header-nav__category.is-active .header-nav__category__hidden::before,
.header-nav__category.is-active .hamburger__hidden::before,
.hamburger.is-active .header-nav__category__hidden::before,
.hamburger.is-active .hamburger__hidden::before {
  -webkit-transform: translate(0, 0.7rem) rotate(90deg);
      -ms-transform: translate(0, 0.7rem) rotate(90deg);
          transform: translate(0, 0.7rem) rotate(90deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.header-nav__category.is-active .header-nav__category__hidden::after,
.header-nav__category.is-active .hamburger__hidden::after,
.hamburger.is-active .header-nav__category__hidden::after,
.hamburger.is-active .hamburger__hidden::after {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(0, -0.7rem) rotate(0);
      -ms-transform: translate(0, -0.7rem) rotate(0);
          transform: translate(0, -0.7rem) rotate(0);
}
.header-nav__category__hidden,
.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #372E11;
  border-radius: 0.4rem;
  position: absolute;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: #6FC67B;
  top: 50%;
  -webkit-transform: translate(3.4rem, -50%);
      -ms-transform: translate(3.4rem, -50%);
          transform: translate(3.4rem, -50%);
}
.header-nav__category__hidden::before, .header-nav__category__hidden::after,
.hamburger__hidden::before,
.hamburger__hidden::after {
  width: 100%;
  height: 0.2rem;
  background-color: #372E11;
  border-radius: 0.4rem;
  position: absolute;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: #6FC67B;
  content: "";
  -webkit-transform: translate(6.8rem, 0);
      -ms-transform: translate(6.8rem, 0);
          transform: translate(6.8rem, 0);
}
.header-nav__category__hidden::before,
.hamburger__hidden::before {
  top: -0.7rem;
}
.header-nav__category__hidden::after,
.hamburger__hidden::after {
  top: 0.7rem;
}

@-webkit-keyframes icon-shake {
  0% {
    -webkit-transform: translateY(-50%) rotateY(18deg) scale(1);
            transform: translateY(-50%) rotateY(18deg) scale(1);
  }
  50% {
    -webkit-transform: translateY(-50%) rotateY(-18deg) scale(1.1);
            transform: translateY(-50%) rotateY(-18deg) scale(1.1);
  }
  100% {
    -webkit-transform: translateY(-50%) rotateY(18deg) scale(1.05);
            transform: translateY(-50%) rotateY(18deg) scale(1.05);
  }
}

@keyframes icon-shake {
  0% {
    -webkit-transform: translateY(-50%) rotateY(18deg) scale(1);
            transform: translateY(-50%) rotateY(18deg) scale(1);
  }
  50% {
    -webkit-transform: translateY(-50%) rotateY(-18deg) scale(1.1);
            transform: translateY(-50%) rotateY(-18deg) scale(1.1);
  }
  100% {
    -webkit-transform: translateY(-50%) rotateY(18deg) scale(1.05);
            transform: translateY(-50%) rotateY(18deg) scale(1.05);
  }
}
.mobile-menu {
  position: fixed;
  top: -150rem;
}
.mobile-menu__item-link {
  font-weight: 500;
  font-size: 2rem;
  color: #434341;
  padding: 1rem 0;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mobile-menu__item-link:hover, .mobile-menu__item-link--active {
  color: #6FC67B;
}
.mobile-menu__item-link--active ~ .mobile-submenu {
  display: block;
}

.mobile-submenu {
  display: none;
  padding-left: 1rem;
}
.mobile-submenu__link {
  display: block;
  font-size: 1.6rem;
  padding: 0.5rem;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mobile-submenu__link:hover {
  color: #6FC67B;
}

/* styles for button of menu   */
.header-info .hamburger {
  display: none;
  cursor: pointer;
}
.header-info .hamburger {
  padding: 1.5rem 0 1.5rem 1.5rem;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  position: relative;
  z-index: 30;
}
.header-info .hamburger:hover {
  opacity: 0.7;
}
.header-info .hamburger.is-active:hover {
  opacity: 0.7;
}
.header-info .hamburger.is-active .hamburger-inner,
.header-info .hamburger.is-active .hamburger-inner::before,
.header-info .hamburger.is-active .hamburger-inner::after {
  background-color: #434341;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header-info .hamburger-box {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  position: relative;
}
.header-info .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.2rem;
}
.header-info .hamburger-inner,
.header-info .hamburger-inner::before,
.header-info .hamburger-inner::after {
  width: 2.3rem;
  height: 0.3rem;
  background-color: #434341;
  border-radius: 0.4rem;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}
.header-info .hamburger-inner::before,
.header-info .hamburger-inner::after {
  content: "";
  display: block;
}
.header-info .hamburger-inner::before {
  top: -1rem;
}
.header-info .hamburger-inner::after {
  bottom: -1rem;
}
.header-info .hamburger--elastic .hamburger-inner {
  top: 0.2rem;
  -webkit-transition-duration: 0.275s;
       -o-transition-duration: 0.275s;
          transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
       -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header-info .hamburger--elastic .hamburger-inner::before {
  top: 1rem;
  -webkit-transition: opacity 0.125s 0.275s ease;
  -o-transition: opacity 0.125s 0.275s ease;
  transition: opacity 0.125s 0.275s ease;
}
.header-info .hamburger--elastic .hamburger-inner::after {
  top: 2rem;
  -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header-info .hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 1rem, 0) rotate(135deg);
          transform: translate3d(0, 1rem, 0) rotate(135deg);
  -webkit-transition-delay: 0.075s;
       -o-transition-delay: 0.075s;
          transition-delay: 0.075s;
}
.header-info .hamburger--elastic.is-active .hamburger-inner::before {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}
.header-info .hamburger--elastic.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -2rem, 0) rotate(-270deg);
          transform: translate3d(0, -2rem, 0) rotate(-270deg);
  -webkit-transition-delay: 0.075s;
       -o-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

@-webkit-keyframes showingWindowMenu {
  0% {
    -webkit-transform: rotate(19deg) translateX(-0.6rem);
            transform: rotate(19deg) translateX(-0.6rem);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes showingWindowMenu {
  0% {
    -webkit-transform: rotate(19deg) translateX(-0.6rem);
            transform: rotate(19deg) translateX(-0.6rem);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@-webkit-keyframes menuShow {
  0% {
    -webkit-transform: translate(-1000px, -100px) rotate(-70deg);
            transform: translate(-1000px, -100px) rotate(-70deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
@keyframes menuShow {
  0% {
    -webkit-transform: translate(-1000px, -100px) rotate(-70deg);
            transform: translate(-1000px, -100px) rotate(-70deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
@-webkit-keyframes show-menu {
  from {
    -webkit-transform: translateX(-150rem);
            transform: translateX(-150rem);
  }
}
@keyframes show-menu {
  from {
    -webkit-transform: translateX(-150rem);
            transform: translateX(-150rem);
  }
}
@-webkit-keyframes show-menu-item {
  from {
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
    opacity: 0;
  }
}
@keyframes show-menu-item {
  from {
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
    opacity: 0;
  }
}
.header {
  background: #fff;
  position: relative;
}
.header-top {
  padding: 1.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #F5F5F5;
}
.header-logo__pic {
  width: 16.7rem;
  height: 3.5rem;
}
.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-info__adres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #434341;
  text-align: right;
  margin-right: 2rem;
}
.header-info__adres:nth-child(2) {
  margin-right: 3.5rem;
}
.header-info__adres-name {
  margin-bottom: 0.4rem;
  color: #80807C;
}
.header-info__adres--station {
  position: relative;
  padding-left: 1.6rem;
}
.header-info__adres--station::before {
  content: "";
  position: absolute;
  background-image: url("../img/metro-icon.svg");
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header-info__btn {
  font-size: 1.4rem;
  padding: 1.2rem 2.5rem;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header-info__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.6rem;
}
.header-info__contacts-icon {
  display: none;
  width: 2rem;
  height: 1.9rem;
}
.header-info__contacts-num {
  font-weight: 600;
  font-size: 1.6rem;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #434341;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__item {
  font-weight: 500;
  font-size: 1.4rem;
  color: #434341;
  margin: 0 1.018rem;
  padding: 1.4rem 0;
  cursor: pointer;
}
.header-nav__item:first-child {
  margin-left: 0;
}
.header-nav__item--details {
  position: relative;
  padding-right: 1.1rem;
}
.header-nav__item--details:hover .header-nav__item-arrow {
  fill: #6FC67B;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.header-nav__item-arrow {
  fill: #000;
  width: 0.7rem;
  height: 0.5rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-nav__item-link {
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-nav__item-link:hover {
  color: #6FC67B;
}
.header-nav__category {
  position: relative;
  overflow: visible;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-nav__category:hover {
  color: #6FC67B;
}
.header-nav__category:hover .categories {
  -webkit-transform: translateY(0) scale(1, 1);
      -ms-transform: translateY(0) scale(1, 1);
          transform: translateY(0) scale(1, 1);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-nav__category-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__social {
  margin-left: 2rem;
}
.header-nav__social-icon {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header-nav__social-icon:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.header-nav__social--phone {
  width: 1.8rem;
  height: 1.7rem;
  margin-left: 2.5rem;
}
.header-nav__social--whatsapp {
  width: 1.9rem;
  height: 1.8rem;
}
.header-nav__social--search {
  width: 1.7rem;
  height: 1.7rem;
}

.categories {
  -webkit-transform: translateY(-10rem) scale(0.9, 0);
      -ms-transform: translateY(-10rem) scale(0.9, 0);
          transform: translateY(-10rem) scale(0.9, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  top: 4rem;
  width: 138rem;
  background: #fff;
  -webkit-box-shadow: 0rem 1rem 4rem rgba(15, 68, 22, 0.02);
          box-shadow: 0rem 1rem 4rem rgba(15, 68, 22, 0.02);
  border-radius: 0rem 0rem 1.5rem 1.5rem;
  overflow: hidden;
  padding: 4.1rem 7.3rem 4.9rem 0;
  will-change: transform;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.categories-list {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.categories-list__item {
  font-weight: 600;
  font-size: 1.6rem;
  color: #6FC67B;
  padding: 1.6rem 5.5rem;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.categories-list__item--active {
  background: #434341;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(15, 68, 22, 0.04), 0rem 0rem 2rem -0.6rem rgba(24, 85, 34, 0.04);
          box-shadow: 0rem 1rem 3rem rgba(15, 68, 22, 0.04), 0rem 0rem 2rem -0.6rem rgba(24, 85, 34, 0.04);
  border-radius: 0rem 10rem 10rem 0rem;
  color: #fff;
  padding: 2.1rem 5.5rem;
  margin: 1.6rem 0;
}
.categories-menu {
  width: 73%;
  background: #FFFFFF;
  -webkit-box-shadow: inset 0rem 0.6rem 1.5rem rgba(14, 69, 21, 0.05);
          box-shadow: inset 0rem 0.6rem 1.5rem rgba(14, 69, 21, 0.05);
  border-radius: 1.2rem;
  padding: 3rem 4rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24.5rem, auto));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.categories-menu__list {
  margin-bottom: 1.5rem;
}
.categories-menu__list:nth-child(6) {
  -ms-grid-row: 3;
  grid-row: 3;
}
.categories-menu__list:nth-child(8) {
  -ms-grid-row: 4;
  grid-row: 4;
}
.categories-menu__list:nth-child(9), .categories-menu__list:nth-child(7) {
  -ms-grid-column: 2;
  grid-column: 2;
}
.categories-menu__list-title {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  color: #6FC67B;
  padding-bottom: 0.3rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.categories-menu__list-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(163, 163, 161, 0)), color-stop(48.44%, #A3A3A1), to(rgba(163, 163, 161, 0)));
  background-image: -o-linear-gradient(left, rgba(163, 163, 161, 0) 0%, #A3A3A1 48.44%, rgba(163, 163, 161, 0) 100%);
  background-image: linear-gradient(90deg, rgba(163, 163, 161, 0) 0%, #A3A3A1 48.44%, rgba(163, 163, 161, 0) 100%);
  padding-bottom: 0.1rem;
  width: 100%;
  height: 0.1rem;
  border-radius: 100%;
}
.categories-menu__list-item {
  font-weight: 400;
  font-size: 1.4rem;
  color: #80807C;
  margin-bottom: 1rem;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.categories-menu__list-item:hover {
  color: #6FC67B;
}
.categories-menu__list--bestseller {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  color: #5DB469;
  padding-bottom: 0.3rem;
  position: relative;
}
.categories-menu__list--bestseller::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #6FC67B;
  height: 0.2rem;
  opacity: 0.6;
}

.intro {
  background-size: 40%;
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 51.1rem;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.intro::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: left;
  z-index: -2;
  height: 100%;
  width: 100%;
}
.intro-content {
  padding: 6.2rem 0 5.8rem;
}
.intro-content__title {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #232321;
}
.intro-content__title--green {
  color: #6FC67B;
}
.intro .swiper {
  width: 91rem;
  margin: 0;
  margin-left: -11rem;
}
.intro .swiper .swiper-button-prev, .intro .swiper .swiper-button-next {
  width: 5.5rem;
  height: 5.5rem;
  background: #fff;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: -9.4rem;
}
.intro .swiper .swiper-button-prev::after, .intro .swiper .swiper-button-next::after {
  font-size: 2.4rem;
  color: #5DB469;
}
.intro .swiper .swiper-wrapper {
  border-radius: 1.2rem;
  margin-top: 4rem;
}
.intro .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  padding: 0rem 11rem;
}
.intro .swiper .swiper-wrapper .swiper-slide__title {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #232321;
  padding: 5rem 6.4rem 0 7.5rem;
  background-color: #fff;
  border-radius: 1.2rem 1.2rem 0 0;
}
.intro .swiper .swiper-wrapper .swiper-slide .content__apply {
  padding: 2.4rem 8rem 5.1rem 7.5rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 1.2rem 1.2rem;
}
.intro .swiper .swiper-wrapper .swiper-slide .content__apply-desc__title {
  font-size: 1.6rem;
  line-height: 140%;
  color: #80807C;
}
.intro .swiper .swiper-wrapper .swiper-slide .content__apply-desc__price {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 120%;
  color: #5DB469;
}
.intro .swiper .swiper-wrapper .swiper-slide .content__apply--btn {
  font-weight: 600;
  font-size: 1.6rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1.4rem 4.4rem;
}

@media (max-width: 1024px) {
  .header-nav,
  .header-info__btn,
  .header-info__adres,
  .header-info__contacts-num {
    display: none;
  }
  .header-info .hamburger {
    display: inline-block;
  }
  .header-info__contacts-icon {
    display: block;
  }
  .intro {
    background-size: 67% 47%;
    min-height: 85.9rem;
  }
  .intro::before {
    left: -50rem;
    top: -5rem;
    background-size: 90% 70%;
    background-position: left top;
  }
  .header {
    background: transparent;
  }
  .swiper {
    position: relative;
    z-index: 2;
  }
  .swiper-button-prev, .swiper-button-next {
    margin-top: 0 !important;
    position: absolute;
    top: 0;
    z-index: 22;
  }
  .swiper-button-prev {
    left: unset;
    right: 18rem;
  }
  .swiper-button-next {
    right: 11rem;
  }
  .swiper-wrapper {
    padding-top: 3rem;
  }
  .intro-content__title {
    margin-bottom: 5.5rem;
  }
  .mobile-menu--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: #000000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10rem;
    padding-left: 5rem;
    z-index: 10;
  }
  .mobile-menu--active::before {
    content: "";
    position: absolute;
    left: 50%;
    z-index: -1;
    -webkit-filter: drop-shadow(75px 145px 33px black) blur(6px);
            filter: drop-shadow(75px 145px 33px black) blur(6px);
    background: #fff;
    height: 98%;
    width: 98%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 10px;
    -webkit-animation: show-menu 0.55s ease-in-out;
            animation: show-menu 0.55s ease-in-out;
  }
  .mobile-menu--active .mobile-menu__item {
    -webkit-animation: show-menu-item 1s ease-in-out;
            animation: show-menu-item 1s ease-in-out;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
}
@media (max-width: 767px) {
  .intro-content__title {
    font-size: 4rem;
    white-space: nowrap;
  }
  .intro .swiper .swiper-wrapper .swiper-slide__title {
    padding: 2.5rem 2rem 2.1rem 2rem;
  }
  .intro .swiper .swiper-wrapper .swiper-slide .content__apply {
    padding: 0 2rem 2.5rem 2rem;
  }
  .intro .swiper {
    width: 64rem;
  }
  .intro .swiper .swiper-wrapper .swiper-slide .content__apply {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .intro .swiper .swiper-wrapper .swiper-slide .content__apply-desc__price {
    text-align: right;
    margin-bottom: 1.5rem;
  }
  .intro::before {
    left: -27.7rem;
    top: -15rem;
  }
  .intro {
    background-size: 65% 43%;
  }
}
@media (max-width: 325px) {
  .hamburger {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem !important;
  }
}